<mat-toolbar color="primary" [ngClass]="{'shrink-toolbar': shrinkToolbar}">
    <button mat-icon-button (click)="onToggleSidenav()" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']" mat-button *ngIf="shrinkToolbar === true">
        <img class="logo show-logo" src="assets/images/footer-logo.png" alt="logo">
    </a>
    <a [routerLink]="['/']" mat-button *ngIf="shrinkToolbar === false">
        <img class="logo hide-logo" src="../../../../assets/images/logo.png" alt="logo">
    </a>
    <div fxFlex fxLayout fxLayoutAlign="end">
        <div fxHide.lt-md style="display: inline-flex;">
            <a class="nav-link js-scroll-trigger text-purple cp" pageScroll [routerLink]="['']" routerLinkActive="router-link-active" translate>Home</a>

            <a class="nav-link js-scroll-trigger text-purple cp" pageScroll href="#contactus" translate>Wallet</a>
            <a class="nav-link js-scroll-trigger text-purple cp" pageScroll href="#contactus" translate>GetApp</a>

            <button class="nav-link js-scroll-trigger text-purple cp" mat-button [matMenuTriggerFor]="afterMenu">{{'language' | translate}}</button>
            <mat-menu #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item (click)="changeLanguage('en')"> <img src="../../../../assets/images/english-language.png" alt="" style="width: 34px;" srcset=""> {{'en' | translate}}</button>
                <button mat-menu-item (click)="changeLanguage('fa')"><img src="../../../../assets/images/iran.png" alt="" style="width: 34px;" srcset=""> {{'fa' | translate }}</button>
            </mat-menu>

            <a class="nav-link js-scroll-trigger text-purple cp" pageScroll (click)="openLoginDialog()" translate>Login</a>
            <a class="nav-link js-scroll-trigger text-purple cp" pageScroll (click)="openRegisterDialog()" translate>Register</a>
        </div>
    </div>
</mat-toolbar>