<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Reset password</h5>
                    <form class="form-signin" novalidate="novalidate" accept-charset="utf-8" [formGroup]="resetPasswordForm">
                        <mat-form-field class="wd-100">
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Password" (change)="StorePassword($event)" autocomplete="false" >
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="controls.password.touched && controls.password.errors"  >
                                <mat-error *ngIf="controls.password.errors.required">Password is required</mat-error>
                                <mat-error *ngIf="controls.password.errors.pattern">Password doesn't match!</mat-error>
                                <mat-error *ngIf="controls.password.touched && controls.password.errors.pattern" class="passwordhint ">
                                    example password: System@456978, systeM!456978
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="wd-100 mt-16">
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" placeholder="Confirm Password" [pattern]="iPassword" (invalid)="GetInvalidMessage($event)" autocomplete="false">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="controls.confirmPassword.touched && controls.confirmPassword.errors"  >
                                <mat-error *ngIf="controls.confirmPassword.errors.required">Confirm Password is required
                                </mat-error>
                                <mat-error *ngIf="controls.confirmPassword.errors.pattern">Password doesn't match!
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button [ngClass]="{'grad-css': resetPasswordForm.valid}" type="submit" (click)="updatePassword()" [disabled]="!resetPasswordForm.valid">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>