<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{'forgot-title' | translate}}</h5>
                    <form class="form-signin" [formGroup]="forgotPasswordForm">
                        <mat-form-field class="wd-100">
                            <input matInput type="text" id="usr" formControlName="email" placeholder="{{'email-address' | translate}}">
                            <mat-error *ngIf="controls.email.touched && controls.email.errors">
                                <mat-error *ngIf="controls.email.errors.required">{{'req-email' | translate}}</mat-error>
                                <mat-error *ngIf="controls.email.errors.email">{{'invalid-email' | translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button class=" text-uppercase fa-pull-left mt-65" [ngClass]="{'grad-css': forgotPasswordForm.valid}" style="color: #fff;" type="submit" [disabled]="!forgotPasswordForm.valid" (click)="sendForgotEmail();">{{'Send' | translate}}</button>
                        <button mat-raised-button class=" text-uppercase float-right mt-65" (click)="redirectLogin()">{{'Cancel' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>